* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
  place-items: center;
}

.container {
  width: 913px;
  height: 648px;
  position: relative;
}

.container > .tv__container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background: url('../resources/tv.png');
  z-index: 3;

}

.container > .canvas__container {
  background-color: #000;
  position: absolute;
  top: 60px;
  left: 46px;
  /* border-radius: 70px ; */
  width: 610px;
  height: 485px;
  display: flex;
  place-content: center;
  place-items: center;
  transform: scale(0, 0);
  transition: all .1s ease-in-out;
  z-index: -1;
}

.container > .canvas__container.active {
  transform: scale(1, 1);
}

.container > .canvas__container > #canvas {
  width: 512px;
  height: 448px;
}

.container > .btn__power {
  position: absolute;
  top: 264px;
  right: 96px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  cursor: pointer;
  background-color: #00000067;
}

.container > .btn__power.active {
  background-color: rgba(204, 46, 46, 0.85);
  box-shadow: -3px -3px 15px red;
}